<h2>NavList with objects</h2>
<h6>Fixtures</h6>
<pre class="prettyprint linenums">App.NavigationObject.FIXTURES = [
  { id:  1
  title:  'Nav 1'
  link:   'nav-1'},
  { id:  2
  title:  'Nav 2'
  link:   'nav-2'}
]</pre>
<h6>Controller</h6>
<pre class="prettyprint linenums">App.NavigationObjectsController = Ember.ArrayController.extend()</pre>
<h6>Template</h6>
<pre class="prettyprint linenums">&#123;{view Bootstrap.NavList contentBinding="controller"}}</pre>
<div class="bs-docs-example">
  {{view Bootstrap.NavList contentBinding="controller"}}
</div>
