<h2>NavList with objects, custom title and links</h2>
<h6>Fixtures</h6>
<pre class="prettyprint linenums">App.NavigationObject.FIXTURES = [
  { id:  1
  name:   'Name 1'
  mylink: 'mynav-1'},
  { id:  2
  name:   'Name 2'
  mylink:  'mynav-2'}
]</pre>
<h6>Controller</h6>
<pre class="prettyprint linenums">App.NavigationObjectsController = Ember.ArrayController.extend()</pre>
<h6>Template</h6>
<pre class="prettyprint linenums">&#123;{view Bootstrap.NavList contentBinding="controller"
       itemTitleKey="name" itemHrefKey="mylink"}}</pre>
<div class="bs-docs-example">
  {{view Bootstrap.NavList contentBinding="controller" itemTitleKey="name"
         itemHrefKey="mylink"}}
</div>
