<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Examples</h1>
    <p class="lead">Show some great examples to make it easy to understand how it work.</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span3 bs-docs-sidebar">
      {{view Bootstrap.NavList classNames="bs-docs-sidenav"
             contentBinding="controller"}}
    </div>
    <div class="span9">
      {{ outlet }}
    </div>
  </div>
</div>